
.body {

    max-width: 1000px;
    width: 100%;
    min-height: 90vh;
    padding: 10px 0px 0px 0px;
}
.fondo{
    background-image: url(../../img/fondobirretes.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-height: 939px;
}


.box {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin:70px auto;
    max-width: 600px;
    width: 100%;
    min-height: 250px;
    padding: 20px;
    background: #FFFFFF;
    text-align: center;
    transition: 0.25s;
    border-radius: 5px;
    border: 1px solid #77787B;
}


.logokuepa{
    text-align: left;
    margin: 10px 0px 0px 40px;
  

}

.logotitulando{
    margin-top: 30px;
    text-align: center;
   
}


#usuario, #clave{
    border: 1px solid #B5B4B4;
    font-size: 14px;
    width: 70%;
    min-height: 45px;
    height: 100%;
    padding-left: 10px;
   
}
.cajainput{
    display: flex;
    justify-content: center;
}


.icon{
    font-size: 30px;
    padding-top: 7px;
}

.cajaicon{
    border: 1px solid #B5B4B4;
    width: 35px;
    height: 35px;
}

.card{
    border: none;
}


.tituloingresar{
    font-weight: 600;
    color: #F86433;
    font-size: 20px;

}

