.titulo{
	background-color: #F86433;
	color: #FFFFFF;
	padding: 6px 0px;
}

.cajaformulario{
	padding: 40px 0px;
}

.imgestudent{
	border-radius: 5px;
}
.btn-save {
	background-color: #F86433;
	padding: 6px 12px;
	color: #FFFFFF;
	border-radius: 5px;
	font-weight: 700;
}


.btn-save:hover{
	background-color: #FFFFFF;
	color: #F86433;
	border: 1px solid #F86433;
}
.cajaestudios{
	padding: 20px 0px;
}
.fecha{
	display: flex;
	justify-content: center;
}