.home{
	font-size: 30px;
	padding: 0px;
	text-align: right;

}

.volver a{
	text-align: center;
	margin: 0px;
	text-decoration: none;
	color: #000000;
	font-size: 25px;
}
.iconvolver{
	font-size: 25px;
}

@media screen (max-width 768px){
	.home{
		text-align: center;
	}
}