.accordion-button{
	background-color: #30A296;
	color: #FFF;
	font-weight: 700;
}

.accordion-button:not(.collapsed){
	background-color:#229185;
	color: #FFFFFF;
	border: 1px solid #229185 ;
}

.btn-guardar{
	background-color:#229185;
	color: #FFFFFF;
	border: 1px solid #229185 ;
	padding:6px 12px;
	border-radius: 5px;
	font-weight: 700;

}


.btn-guardar:hover{
	background-color:#FFFFFF;
	color: #229185;
	border: 1px solid #229185 ;
	padding:6px 12px;
	border-radius: 5px;
	font-weight: 700;

}