.barra{
	background-color: #B5B4B4;
}
.menu{
	margin: 0px;
	padding: 0px;
}
.iteme{
	line-height: 4;
	text-align: center;
	font-weight: 700;
	font-size: 20px;
}
.iteme a{
	text-decoration: none;
	color: #FFFFFF;
	display: block;
}
.iteme:hover{
	background-color: #F86433;
}
.activegre{
	background-color: #DD5020;
}



@media screen and (min-width: 768px) {

  .menu {
  	display: flex;
    flex-direction: row;
    padding: 0;
   }

   
   .iteme{
   	flex-grow: 1;
   }
}

