
.fuente{
	font-family: 'Montserrat';
}

.cajanaranja, .cajaazul{
	padding: 0px;
	margin-bottom: 30px;
}

.cajanaranja p{
	text-align: center;
	padding: 100px 50px 100px 50px;
	font-size: 20px;
	background-color: rgba(248, 100, 51, 0.7);
	max-height: 400px;
	height: 100%;
	color: #ffffff;
	font-weight: bold;
}

.cajaazul p{
	text-align: center;
	padding: 100px 50px 100px 50px;
	font-size: 20px;
	background-color: rgba(48, 162, 150, 0.7);
	max-height: 400px;
	height: 100%;
	color: #ffffff;
	font-weight: bold;
}

.seccion1{
	background-image:url(./egresados.jpg);
	background-size: cover;
	max-height: 400px;
	height: 100%;
}

.seccion2{
	background-image:url(./seguimiento.jpg);
	background-size: cover;	
	max-height: 400px;
	height: 100%;
}

.btn-egresado{
	width: 100%;
	max-height: 70px;
	height: 100%;
	background-color: #F86433;
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
}

.btn-seguimiento{
	width: 100%;
	max-height: 70px;
	height: 100%;
	background-color: #30A296;
	font-size: 30px;
	font-weight: 700;
	color: #ffffff;
}