footer{
	background-color: #77787B;
	color: #ffffff;
	text-align: center;
	font-family: 'Montserrat';
	min-height: 30px;
	height: 100%;
	line-height: 28px;
	font-size: 16px;
	padding: 5px 10px 5px 10px;

}